.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.logo {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vmin;
  transform: translateX(-50%) translateY(-50%); 
  animation: logo 15s ease-out infinite;

}

@keyframes logo {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(2) rotate(0deg);
    opacity: 0; 
  }
  0.1% {
    opacity: 1;
  }
  14% { 
    opacity: 1; 
  }
  18% { 
    transform: translateX(-50%) translateY(-50%) scale(0.1) rotate(360deg);
    opacity: 0;
  } 
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
